@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* font-family: 'Quicksand', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
/* font-family: 'Dancing Script', cursive; */


/* start of global styles */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body
{
  background: #f1fbff;
}
/* end of global styles */
/* start of content styles */
.calendar
{
  padding: 20px 40px;
}
.months-container
{
  justify-content: center;
  gap: 40px;
}
.calendar .months-container .month-container
{
  background: #fff;
  padding: 20px;
  min-width: 250px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.2);
}
.calendar table.month th.month-title
{
  color: #5a8990;
  font-size: 2rem;
  font-weight: 200;
  font-family: 'Dancing Script', cursive;
}
.calendar table.month td:first-child, 
.calendar table.month td:last-child,
table.month thead tr:nth-child(2) th:first-child,
table.month thead tr:nth-child(2) th:last-child
{
  color: #f75c90;
}
.calendar table.month td.day .day-content
{
  padding: 6px 8px;
}
.calendar table.month th.day-header
{
  color: #777;
  font-size: 0.9em;
  font-weight: 700;
}
.month tr td
{
  font-size: 0.9em;
  font-weight: 500;
  color: #777;
}
table.month td.day .day-content:hover
{
  background: #f75c90;
  color: #fff;
}
.calendar .calendar-header table th:hover
{
  background: transparent;
}
/* end of content styles */